#需要过滤的文件夹目录
test/.vs/
test/Library/
test/UnityPackageManager/
test/Assets/Animations
test/Assets/model
test/Assets/All Packages Demo
Demo/
test/Temp
test/Assets/Almgp_particle_vol_1

#需要过滤的文件
*.csproj
*.sln

